---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Poke Astro</title>
  </head>
  <body>
    <header
      class="header absolute flex justify-evenly place-items-center h-24 w-full p-5 bg-gray-200 border-b-2 border-gray-400 shadow-[0,0,20px,20px,black]"
    >
      <div class="title text-center font-bold text-4xl">POKEDEX</div>
    </header>
    <slot />
    <!--       <div class="modal absolute flex h-[50vh] w-[50vh] m-auto bg-gray-200"></div>
    <script src="../../public/pokemon.js"></script>
 -->
  </body>
</html>
